.frame-slide{
    animation: 5s slide infinite linear;
    display: inline-block;
    white-space: nowrap;
    
}
.frame-slide .img{
    margin: 0 10px;
    height: 200px;
}
.frame-slide2{
    animation: 5s slide1 infinite linear;
    display: inline-block;
    white-space: nowrap;
    
}
.frame-slide2 .img{
    margin: 0 10px;
    height: 200px;
}
.frame{
    overflow: hidden;
    max-height: 50px;
    background: white;
    padding-bottom: 380px;
    position: relative;
}
.frame2{
    overflow: hidden;
    max-height: 50px;
    background: white;
    padding-bottom: 380px;
    position: relative;
}


@keyframes slide {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100%);
    }
}
@keyframes slide1 {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}